.card:hover {
	box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.15), 0 6px 13px 0 rgba(0, 0, 0, 0.19);
  	transform:scale(1.02);
  	color: #3e4b5b;
}

.card {
	transition: all 0.4s ease-out;
	color: #3e4b5b;
}

.card-title {
	border: 1px solid
}

.card-header {
	background-color: white;
	color: #097cff;
}

.close {
	font-size: 2rem;
}

@media (min-width:375px) {
	.margin {
		margin-top: 10px;
	}

}
@media (min-width:576px) {
	.margin {
		margin-top: 0px;
	}

}
@media (min-width:768px) {

		.margin {
		margin-top: 10px;
	}
	.h1 {
		font-size: 30px;
	}
	.h4 {
		font-size: 25px;
	}
}
@media (min-width:992px) {
	.margin {
		margin-top: 0px;
	}

}
@media (min-width:1200px) {
	.card-body {
		margin-top: 20px;
	}
}

@media (min-width:1440px) {
	
	.card-body {
		margin-top: 15px;
	}
	.h1 {
		font-size: 35px;
	}
	.h4 {
		font-size: 30px;
	}


}