html, body {
  margin 0;
  padding 0;
  height: 100%;
  width: 100%;
  font-family: 'Prompt', sans-serif;
}

.logo {
  font-size: 2rem;
}


.bg1 {
  padding-top: 65px;
	background-color: #f2f4f8;
}











